 
 
 #title h1 {
    text-align: left;
    text-transform: uppercase;
}


#title p {
    text-align: right;
    top: 400px;
    right: 0px;
    position:absolute
}

.reveal h1 {
    text-align: left;
    text-transform: none;
}
.reveal p {
    text-align: left;
}
.reveal ul {
    display: block;
    font-size: 0.8em;
}
.reveal ol {
    display: block;
}

.quote h1 {
    text-align: center;
}

.quote blockquote {
    font-size: 0.8em;
    background: #e7e5e5;
    border-left: 10px solid rgb(141, 133, 133);

}

.reveal figcaption {
    text-align: right;
    font-size: 0.6em;
}

.imgslide p {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

.sectionbreak h1 {
    text-transform: uppercase;
    text-align: center;
}

.centerimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.alert {
    color: orange;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textcolumn {
    flex: 70%;
}
.imgcolumn {
  flex: 30%;
}