 
 
 #title h1 {
    text-align: left;
    text-transform: uppercase;
}


/* #title p {
    text-align: right;
    top: 400px;
    right: 0px;
    position:absolute
} */

.reveal h1 {
    text-align: left;
    text-transform: none;
    font-size:1.6em;
}

.reveal h2 {
    text-align: left;
    text-transform: none;
}
.reveal p {
    text-align: left;
}
.reveal ul {
    display: block;
    font-size: 0.8em;
}
.reveal ol {
    display: block;
}

.quote h1 {
    text-align: center;
}

.reveal blockquote {
    font-size: 0.8em;
    background: #e7e5e5;
    border-left: 10px solid rgb(141, 133, 133);
    
}


.quote p {
    text-align: right;
    font-size: 0.5em;
}

.reveal figcaption {
    text-align: right;
    font-size: 0.6em;
}

.imgslide p {
    text-align: center;
    font-size: 0.6em;
    font-style: italic;
}

.imgslide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.reveal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sectionbreak h1 {
    text-transform: uppercase;
    text-align: center;
}

.centerimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.alert {
    color: orange;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.spacedrow {
    border: solid 0px #000;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    height: 200px;
    position: fixed;
    width:100%;
    bottom: 15%;
}

.itemr {
    width: 50%;
    margin-left: auto;
}
.iteml {
    width: 40%;
    margin-right: auto;
}
.toprow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.textcolumn {
    flex: 70%;
}
.imgcolumn {
    flex: 30%;
}